@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	line-height: 1.5;
	font-style: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #333;
	background-color: #fff;
}

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.5;
}

h2 {
	font-size: 44px;
	color: #21243d;
}

p {
	margin-top: 0;
	font-size: 16px;
	color: #21243d;
}

address {
	font-style: normal;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #000;
	text-decoration: none;
}

ul {
	padding: 0;
	list-style: none;
}

.sp-only {
	display: none;
}

.pc-only {
	display: block;
}

#sp-only {
	display: none;
}

section {
	padding: 60px 0;
}

header {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 110px;
}

.header-logo-menu {
	margin-left: 70%;
}

header li {
	display: inline-block;
	padding: 0 30px;
	text-align: right;
	font-weight: 800;
}

.container {
	width: 80%;
	max-width: 858px;
	margin: auto;
}

.first-content-txt {
	width: 500px;
}

.first-content-txt p {
	margin-bottom: 30px;
}

.first-content-txt h2 {
	font-weight: 600;
}

.first-content-box {
	display: flex;
	justify-content: space-between;
}

.first-content-img {
	order: 1;
}

.first-content-btn {
	background-color: #ff6464;
	width: 208px;
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.first-content-btn a {
	color: #fff;
}

.center {
	display: flex;
	justify-content: center;
}

.hamburger-menu {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

/* second-contents */

.second-content {
	background-color: #edf7fa;
	margin: 30px 0 20px;
	padding: 30px;
	width: 100%;
}

.second-content-option {
	display: flex;
	justify-content: space-between;
}

.second-content-option-left p {
	font-size: 22px;
}

.second-content-option-right a {
	font-size: 16px;
	color: #00a8cc;
}

.second-content-box {
	display: flex;
	
}

.second-content-box-left {
	background-color: #fff;
	color: #21243d;
	padding: 20px;
	margin-right: 10px;
}

.second-content-box-left h2 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 17px;
}

.second-content-box-left h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 15px;
}

.second-content-box-left　p {
	font-size: 20px;
	font-family: heebo;
	font-style: regular;
}

.second-content-box-right {
	background-color: #fff;
	color: #21243d;
	padding: 20px;
	margin-left: 10px;
}

.second-content-box-right h2 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 17px;
}

.second-content-box-right h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 15px;
}

.second-content-box-right　p {
	font-size: 20px;
	font-family: heebo;
	font-style: regular;
}

#gnav-content {
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 100;
	width: 100%;
	max-width: 240px;
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
	transition: 0.3s;
}

ul.gnav-list {
	background: #d9c2e5;
	padding: 0;
	height: 100vh;
	text-align: center;
}

ul.gnav-list li {
	display: block;
}

ul.gnav-list li a {
	display: block;
	padding: 1.5em;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

ul.gnav-list li a::first-line {
	font-size: 16px;
	font-weight: bold;
}

.gnav-hidden {
	display: none;
}

/**/

.gnav-btn {
	display: block;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 100;
	width: 40px;
	height: 40px;
	background: #fff url("img/sozai_cman_jp_20210701201952.png") center center
		no-repeat;
}

#gnav-black {
	display: none;
	position: fixed;
	z-index: 90;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
}

#gnav-input:checked ~ #gnav-btn {
	background: #1b9aaa url("img/gnav-btn-close.png") center center no-repeat;
}
#gnav-input:checked ~ #gnav-black {
	display: block;
}

#gnav-input:checked ~ #gnav-content {
	left: 0;
}


.third-content-option p {
	font-size: 22px;
}

.third-content {
	display: flex;
	padding: 0 0 16px;
	border-bottom: 1px solid #e0e0e0;
}

.third-content:not(:first-child) {
	padding: 28px 0 16px;
}

.third-content-img img {
	width: 296px;
	flex: 1;
}

.third-content-txt {
	margin-left: 18px;
}

.third-content-txt h2 {
	font-size: 30px;
	font-weight: 800;
}

.third-content p {
	margin-top: 18px;
}

.Performance {
	display: flex;
}

.year {
	background-color: #142850;
	color: #fff;
	font-size: 18px;
	padding: 0 10px;
	border-radius: 16px;
	text-align: center;
}

.Description {
	margin-left: 26px;
	color: #8695a4;
}

.txt {
	display: flex;
}

.sns-logo {
	display: flex;
	justify-content: center;
}

.sns-logo a {
	margin: 134px 20px 0;
}

.last {
	font-size: 14px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1145px) {
	* {
		max-width: 1145px;
	}

	.sp-only {
		display: block;
	}

	.pc-only {
		display: none;
	}

	#sp-only {
		display: block;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header {
		margin-bottom: 60px;
	}

	.container,
	.third-content {
		flex-direction: column;
		align-items: center;
		width: 95%;
		margin: 0 auto;
	}

	.first-content-box {
		margin-bottom: 10px;
		display: block;
		text-align: center;
	}

	.first-content-img img {
		width: 50%;
		margin-bottom: 30px;
	}

	.first-content-txt {
		display: block;
		width: 93%;
		text-align: center;
		margin: 0 auto;
	}

	.first-content-txt h2 {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.first-content-txt p {
		width: 100%;
		margin-bottom: 10px;
	}

	.first-content-btn {
		background-color: #ff6464;
		margin: 20px 0 30px;
	}

	.second-content {
		padding: 0 0px 20px;
		margin: none;
	}

	.second-content-box {
		display: block;
		width: 100%;
		padding: 0 0px auto;
		margin: auto;
	}
	.second-content-box-left {
		display: block;
		margin: 20px 0px auto;
		padding: 10px 15px;
	}

	.second-content-box-left　p {
		display: inline;
	}

	.second-content-option {
		display: flex;
		justify-content: center;
	}

	.second-content-option-left p {
		font-size: 18px;
		margin: 20px 0 auto;
		font-weight: lighter;
	}

	.second-content-box-right {
		display: block;
		margin: 20px 0px auto;
		padding: 10px 15px;
	}

	.second-content-box-right　p {
		display: inline;
	}


	.second-content-option-right p {
		font-size: 18px;
		margin: 20px 0 auto;
		font-weight: lighter;
	}

	.center p {
		margin: auto;
	}

	.third-content-img img {
		width: 90vw;
		margin-bottom: 5px;
	}

	.third-content-txt {
		width: 100%;
		margin: 0 auto;
	}

	.third-content-txt h2 {
		width: 108%;
		font-size: 24px;
		margin: 0 auto;
	}

	.txt {
		width: 100%;
	}

	.txt p {
		margin: auto;
	}

	.border {
		width: 100%;
	}

	.last p {
		font-size: 14px;
	}
}
